.book-container {
  text-align: center;
  padding: 20px;
  background-color: #0f3460;
  overflow-x: hidden;
  position: relative;
}

.book-scroll {
  display: flex;
  gap: 20px;
  padding: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.book-scroll::-webkit-scrollbar {
  display: none;
}


.comic-page {
  flex: 0 0 auto;
  width: 250px;
  height: 360px;
  background: black;
  border: 2px solid #dfec23;
  border-radius: 10px;
  box-shadow: 0 0 20px #dfec23;
  scroll-snap-align: center;
  transform: scale(0.9);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.comic-page:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px #fffc7a;
}

.comic-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@keyframes slideIn {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.btn-comics {
  margin-top: 30px;
  padding: 12px 25px;
  background-color: #dfec23;
  color: #0f3460;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-comics:hover {
  background-color: #fffc7a;
}

.cargando {
  color: white;
  font-size: 1.2rem;
  margin-top: 50px;
}

/* Responsive */
@media (max-width: 768px) {
  .comic-page {
    width: 80vw;
    height: auto;
  }
}




